@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?60urer');
  src:  url('fonts/icomoon.eot?60urer#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?60urer') format('truetype'),
    url('fonts/icomoon.woff?60urer') format('woff'),
    url('fonts/icomoon.svg?60urer#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ic_sort_by_alpha_black_24px:before {
  content: "\e902";
}
.icon-question:before {
  content: "\e901";
}
.icon-comment:before {
  content: "\e900";
}
.icon-plus:before {
  content: "\f067";
}
.icon-search:before {
  content: "\f002";
}
.icon-user:before {
  content: "\f007";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-key:before {
  content: "\f084";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-filter:before {
  content: "\f0b0";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-down:before {
  content: "\f107";
}
